* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 20px;
  overflow: hidden;
}

.logo {
  margin: 0 30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  margin: 20px 10px 20px 0px;
}

.nav-ul {
  margin-left: 500px;
  color: white;
  list-style: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.link {
  padding: 0px 30px;
  border-radius: 5px;
  color: gold;
  text-decoration: none;
  font-size: 15px;
}

.link:hover {
  text-decoration: underline;
}

.link:active {
  color: red;
}
