* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 35px;
  overflow: hidden;
}
#portfolio {
  position: relative;
  /* left: 400px; */
  color: white;
}

.project-text-one {
  color: red;
}
